{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "dynamic-import-node",
    "@babel/plugin-proposal-class-properties",
    "../babel",
    [
      "module-resolver",
      {
        "alias": {
          "@yeutech-lab/react-loadable": "./src/index.js",
          "@yeutech-lab/react-loadable/server": "./src/server.js",
          "@yeutech-lab/react-loadable/webpack": "./src/webpack.js"
        }
      }
    ]
  ]
}
